*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
weights/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

.idea/
.vscode/
*.weights
backup/*

*.so
*.a
obj/